#root, html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(./background1.jpeg);
    background-size: cover;
    overflow: hidden;
}
.app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open sans', sans-serif;
}
.card{
    color: #fff;
    width: 50%;
}
.button{
    text-decoration: none;
    position: relative;
    border-radius: 2px;
    background-color: #f6ae2d;
    color: #fff;
    border: 2px solid #f6ae2d;
    padding: 10px;
    opacity: 0.8;
    cursor: pointer;
    font-family: 'Open sans', sans-serif;
    font-weight: 500;
    font-size: medium;
}
.button:hover{
    transition: 0.6s;
    opacity: 1;
}
h1{
    font-size: xxx-large;
}
.greeting{
    font-size: x-large;
    font-weight: 700;
}
h2{
    font-size: xx-large;
    font-weight:700;
}

@media screen and (max-width:450px){
    body{
        overflow: auto;
    }
    h1{
        font-size: xx-large;
    }
}